*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~
.cache/
.coverage
/htmlcov/
*.py,cover
.idea/
/vagrant/.vagrant/

MANIFEST.in~
MIND_BUCKET.rst
codebin/
QUICK_START.rst
/tmp/
.zip
/demo/
/demos/
/release/
/releases/
/deploy/
/examples/db/
/var/
/examples/tmp/
/examples/logs/
/examples/media/
/examples/media/cache/
/examples/static/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/django_elasticsearch_dsl_drf.egg-info
#/examples/simple/settings/__init__.py
/examples/simple/settings/local_settings.py

