
                <li{% if home_is_active %} class="menu-text"{% endif %}>
                    <a href="/"{% if home_is_active %} class="button"{% endif %}>Home</a>
                </li>

                <li{% if books_authors_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.authors' %}"{% if books_authors_is_active %} class="button"{% endif %}>Authors</a>
                </li>

                <li{% if books_authors_values_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.authors_values' %}"{% if books_authors_values_is_active %} class="button"{% endif %}>Authors (values)</a>
                </li>

                <li{% if books_authors_with_counts_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.authors_with_counts' %}"{% if books_authors_with_counts_is_active %} class="button"{% endif %}>Authors (with counts)</a>
                </li>

                <li{% if books_authors_values_with_counts_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.authors_values_with_counts' %}"{% if books_authors_values_with_counts_is_active %} class="button"{% endif %}>Authors (values with counts)</a>
                </li>

                <li{% if books_authors_json_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.authors_json' %}"{% if books_authors_json_is_active %} class="button"{% endif %}>Authors (JSON)</a>
                </li>

                <li{% if books_books_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.books' %}"{% if books_books_is_active %} class="button"{% endif %}>Books</a>
                </li>

                <li{% if books_books_with_counts_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.books_with_counts' %}"{% if books_books_with_counts_is_active %} class="button"{% endif %}>Books (with counts)</a>
                </li>

                <li{% if books_books_values_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.books_values' %}"{% if books_books_values_is_active %} class="button"{% endif %}>Books (values)</a>
                </li>

                <li{% if books_publishers_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.publishers' %}"{% if books_publishers_is_active %} class="button"{% endif %}>Publishers</a>
                </li>

                <li{% if books_create_authors_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.create_authors' %}"{% if books_create_authors_is_active %} class="button"{% endif %}>Create authors</a>
                </li>

                <li{% if books_add_authors_to_book_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.add_authors_to_book' %}"{% if books_add_authors_to_book_is_active %} class="button"{% endif %}>Add authors to book</a>
                </li>

                <li{% if books_publisher_ids_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.publisher_ids' %}"{% if books_publisher_ids_is_active %} class="button"{% endif %}>Publisher IDs</a>
                </li>

                <li{% if books_update_books_is_active %} class="menu-text"{% endif %}>
                    <a href="{% url 'books.update_books' %}"{% if books_update_books_is_active %} class="button"{% endif %}>Update books</a>
                </li>
