{% extends "base.html" %}
{% block meta-title %}Books (values){% endblock %}

{% block nav-menu-items %}
    {% with True as books_books_values_is_active %}
        {% include "snippets/menu_items.html" %}
    {% endwith %}
{% endblock nav-menu-items %}

{% block main-content %}
    <h2>Books</h2>
    <table>
        <thead>
        <tr>
            <th>Book</th>
            <th>Authors</th>
            <th>Publisher</th>
            <th>Number of pages</th>
            <th>Price</th>
        </tr>
        </thead>
        {% for book in object_list %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.authors__name}}</td>
                <td>{{ book.publisher__name }}</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block sidebar-content %}{% endblock sidebar-content %}
