<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block meta-title %}Foundation for Sites{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% endblock %}"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>

<div class="top-bar">
    <div class="top-bar-left">
        {% block nav-menu %}
        <ul class="menu">
            {% block nav-menu-items %}
                {% with True as home_is_active %}
                    {% include "snippets/menu_items.html" %}
                {% endwith %}
            {% endblock nav-menu-items %}
        </ul>
        {% endblock nav-menu %}
    </div>
</div>


<div class="callout large primary">
    <div class="row column text-center">
        <h1>{% block page-title %}Example site{% endblock page-title %}</h1>
        <h2 class="subheader">{% block page-sub-title %}For testing the performance{% endblock page-sub-title %}</h2>
    </div>
</div>


<div class="row">
    <div class="large-9 columns" role="content">
        {% block main-content %}
        {#% include "snippets/article.html" %#}
        {% block content %}
        {% endblock content %}
        {% endblock main-content %}
    </div>
</div>


<footer class="row">
    <div class="row expanded">
        <div class="medium-6 columns">
            {% block footer-links %}
            <ul class="menu">
                {% include "snippets/menu_items.html" %}
            </ul>
            {% endblock footer-links %}
        </div>
        <div class="medium-6 columns">
            <ul class="menu align-right">
                {#<li class="menu-text">Copyright © 2017-2018 Artur Barseghyan</li>#}
            </ul>
        </div>
    </div>
</footer>

<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>